/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
public/css/dashmix.css
public/css/themes/*
public/js/pages
public/js/dashmix.app.js
public/js/laravel.app.js
.htaccess
public/mix-manifest.json
public/css/dashmix.css.map
public/css/themes/xdream.css
public/css/themes/xeco.css
public/css/themes/xinspire.css
public/css/themes/xmodern.css
public/css/themes/xplay.css
public/css/themes/xpro.css
public/css/themes/xsmooth.css
public/css/themes/xwork.css
public/js/dashmix.app.js.map
public/js/laravel.app.js.map
.well-known/
/.idea
